<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/login']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/airlines']">Airlines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
</div>
<router-outlet></router-outlet>
<!-- <app-registeruser></app-registeruser> -->